    body {
      margin: 0;
      padding: 0;
      font-family: "Hack", "Fira Code","Liberation Mono",Inconsolata, "Courier New", monospace;
      color: #ABB2BF;
      background-color: #1E2127;
    }
    /*
     * Formatting the header area
     */
    header {
      background-color: #1E2127;
      height: 35px;
      width: 100%;
      opacity: .9;
      margin-bottom: 10px;
    }
    header h1.banner {
      margin: 0;
      font-size: 1.7em;
      color: #ABB2BF;
      text-transform: uppercase;
      float: left;
    }

    /*
     * Centering the body content
     */
    .container {
      width: 1200px;
      margin: 0 auto;
    }
    div.home {
      padding: 10px 0 30px 0;
      background-color: #1E2127;
      -webkit-border-radius: 6px;
         -moz-border-radius: 6px;
              border-radius: 6px;
    }
    div.about {
      padding: 10px 0 30px 0;
      background-color: #1E2127;
      -webkit-border-radius: 6px;
         -moz-border-radius: 6px;
              border-radius: 6px;
    }
    div.contact {
      padding: 10px 0 30px 0;
      background-color: #1E2127;
      -webkit-border-radius: 6px;
         -moz-border-radius: 6px;
              border-radius: 6px;
    }
    h2 {
      font-size: 3em;
      margin-top: 40px;
      text-align: center;
      letter-spacing: -2px;
    }
    h3 {
      font-size: 1.7em;
      font-weight: 100;
      margin-top: 30px;
      text-align: center;
      letter-spacing: -1px;
      color: #999;
    }
    .menu {
      float: right;
      margin-top: 8px;
    }
    .menu li {
      display: inline;
    }
    .menu li + li {
      margin-left: 35px;
    }
    .menu li a {
      color: #ABB2BF;
      text-decoration: none;
    }
    .menu li a:hover {
      color: #ffffff;
      text-decoration: none;
    }
