{%  extends "layout.html" %}
{% block content %}
    <div class="about">
        <h1></h1>
        <ul>
            <li>been building computers since I was 12</li>
            <li>served in the US Navy</li>
            <li>was on the last deployment of the USS Enterprise (CVN-65)</li>
            <li>joined the team at Xcira LLC, making software for the auction industry</li>
            <li>currently working at Accusoft, where we make image and document software and SDKs</li>
        </ul>
    </div>
{%  endblock %}