{%  extends "layout.html" %}
{% block content %}
    <div class="about">
        <h1>About this site:</h1>
        <ul>
            <li>This is my personal site for hosting pages, applications, etc.</li>
            <li>It will always be a work in progress.</li>
            <li>The color scheme is based on the <a href="https://github.com/nathanbuchar/atom-one-dark-terminal">atom-one-dark</a> terminal theme </li>
            <li>In it's current incarnation, it is:
                <ul>
                    <li>a Flask application, using a uWSGI server, proxied by nginx.</li>
                    <li>running in a Docker container on top of CoreOS.</li>
                    <li>uses a CertBot container to obtain LetsEncrypt SSL certificates.</li>
                </ul>
            </li>
        </ul>
        <h1>TODO:</h1>
        <ul>
            <li>Set up autorenewal with docker compose and the certbot container</li>
            <li>Set up git container and template volume for easy html editing and CI/CD</li>
            <li>Flask-Bootstrap for responsive design</li>
        </ul>
    </div>
{%  endblock %}