{%  extends "layout.html" %}
{% block content %}
    <header>
    <link rel="shortcut icon" href="{{ url_for('favicon') }}">
    </header>
    <div class="home">
        <h1>Work</h1>
        <p>Currently working in a System Engineer role for Accusoft.
           I'm currently responsible for on-prem OpenStack and Ansible projects, among other duties.
        </p>
        <h1>Personal</h1>
        <p>This website and other personal projects can be found on
           <a href="https://github.com/free-meal"><nobr>my github profile</nobr></a></p>
        <p>I enjoy tabletop roleplaying games, currently playing Pathfinder and Blades in the Dark</p>
    </div>
{%  endblock %}