{%  extends "layout.html" %}
{% block content %}
    <header>
    <link rel="shortcut icon" href="{{ url_for('favicon') }}">
    </header>
    <div class="home">
        <h1>Work</h1>
        <p>Currently working in a DevOps role for Xcira, LLC.
           I divide my time between supporting production issues and improving the SDLC.
           I'm using tools such as Puppet, Foreman, and Git to improve deployments and QoL on a daily basis.
        </p>
        <h1>Personal</h1>
        <p>This website and my other personal projects can be found on
           <a href="https://github.com/free-meal"><nobr>my github profile</nobr></a></p>
    </div>
{%  endblock %}