{%  extends "layout.html" %}
{% block content %}
    <div class="skills">
        <h1>Attributes</h1>
        <ul>
            <li>Leadership: experienced at leading a team in a fast-paced,rapidly evolving environment</li>
            <li>Innovation: driven to improve processes and solve problems</li>
            <li>Self-Starter: consistent self-education on new technologies and implementations</li>
        </ul>
        <h1>Skills</h1>
        <h3>I currently write code with:</h3>
        <ul>
            <li>Programming: Python, Ruby</li>
            <li>Shell Scripting: Bash, Fish</li>
            <li>Configuration Management: Puppet, CFEngine</li>
        </ul>
        <h3>I utilize professionally:</h3>
        <ul>
            <li>Monitoring: Check_MK, Nagios</li>
            <li>Provisioning: Foreman</li>
            <li>Atlassian Suite: Crowd, Jira, Confluence, Bitbucket, Bamboo</li>
            <li>Operating Systems: CentOS, RHEL</li>
            <li>AWS: EC2, Route53, RDS, VPC, S3, Glacier, SES</li>
            <li>Data: PostgreSQL, CouchBase, ElasticSearch</li>
            <li>Build Server: Jenkins</li>
        </ul>
        <h3>I deploy, configure, and troubleshoot:</h3>
        <ul>
            <li>Java Applications: Jetty, Tomcat, JBoss, ActiveMQ</li>
            <li>Data: CouchBase, CouchDB, PostgreSQL, pgpool</li>
            <li>Web Servers: Apache, nginx</li>
            <li>Load Balancing: HAProxy</li>
        </ul>
        <h3>I've used for personal projects:</h3>
        <ul>
            <li>Docker</li>
            <li>Vagrant</li>
            <li>Vault</li>
            <li>Chef</li>
            <li>SaltStack</li>
            <li>HTML/CSS</li>
            <li>Flask</li>
            <li>Django</li>
        </ul>
    </div>
{%  endblock %}